.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: 15%;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid var(--header-border-bottom-clr);
}

.header__container {
    height: 70%;
    padding: var(--xs-padding);
    border-bottom: 1px solid var(--header-border-bottom-clr);
}

.header__container,
.header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
}

.header__container {
    justify-content: space-between;
}

.header__cv-photo,
.header__language {
    height: 100%;
    width: 12%;
    position: relative;
}

.header__cv-photo {
    background-image: url('../img/mobile/main-photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.header__cv-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    height: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 var(--sm-padding);
}

.header__language {
    font-size: var(--lg-font-size);
    font-weight: 700;
    cursor: pointer;
}

.header__cv-name-ua,
.header__cv-name-eng,
.header__cv-name-ru,
.header__language-ua,
.header__language-eng,
.header__language-ru,
.header__address-ua,
.header__address-eng,
.header__address-ru {
    display: none;
}

.header__cv-name-ua.active,
.header__cv-name-eng.active,
.header__cv-name-ru.active,
.header__language-ua.active,
.header__language-eng.active,
.header__language-ru.active,
.header__address-ua.active,
.header__address-eng.active,
.header__address-ru.active {
    display: block;
}

.header__language-ua.active,
.header__language-eng.active,
.header__language-ru.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__language-ua.active:hover,
.header__language-eng.active:hover,
.header__language-ru.active:hover {
    background-color: var(--header-border-bottom-clr);
}

.header__contacts {
    justify-content: center;
    height: 30%;
    padding: 0 var(--xs-padding);
}

.header__email-link,
.header__phone-link,
.header__github-link,
.header__telegram-link {
    width: 9%;
    height: 100%;
    margin: 0 var(--sm-margin);
}

.header__email-icon,
.header__phone-icon,
.header__github-icon,
.header__telegram-icon {
    height: 100%;
    margin: 0 auto;
}

.header__address {
    font-size: var(--lg-font-size);
}

@media (min-width: 576px) {
    .header {
        padding: 0 var(--lg-margin);
    }

    .header__cv-photo,
    .header__language {
        width: 64px;
        height: 64px;
    }

    .header__cv-name {
        font-size: var(--xl-font-size);
    }
}

@media (min-width: 768px) {
    .header__container,
    .header__contacts {
        padding: 0 var(--md-padding);
    }

    .header__cv-photo,
    .header__language {
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 992px) {
    .header__cv-photo,
    .header__language {
        width: 82px;
        height: 74px;
    }
}
